.footer {
    position: static; /* o directamente elimina la propiedad position */
    width: 100%;
    background-color: #d6001c;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  /* Media queries para responsividad */
  @media (max-width: 768px) {
    .footer {
      padding: 0.75rem;
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    .footer {
      padding: 0.5rem;
      font-size: 0.8rem;
    }
  }